<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="swaggerwcf" type="SwaggerWcf.Configuration.SwaggerWcfSection, SwaggerWcf" />
	</configSections>
	<swaggerwcf>
		<settings>
			<setting name="InfoDescription" value="Sonovate Technical Project Service swagger definitions" />
			<setting name="InfoVersion" value="0.0.0" />
			<setting name="InfoTitle" value="Sonovate Technical Project Service" />
			<setting name="InfoContactName" value="Dick Porter" />
			<setting name="InfoContactEmail" value="dick@ecgtheow.com" />
		</settings>
	</swaggerwcf>
	<extensions>
		<behaviorExtensions>
			<add name="webHttpBehaviourUnhandled" type="sonovatetest.WebHttpBehaviourUnhandledElement, sonovatetest" />
			<add name="corsSupport" type="WebHttpCors.CorsSupportBehaviorElement, WebHttpCors, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
		</behaviorExtensions>
	</extensions>
	<behaviors>
		<serviceBehaviors>
			<behavior name="store">
				<serviceMetadata httpGetEnabled="false" />
			</behavior>
			<behavior name="swagger">
				<serviceMetadata httpGetEnabled="false" />
			</behavior>
		</serviceBehaviors>
		<endpointBehaviors>
			<behavior name="webHttp">
				<webHttp />
			</behavior>
			<behavior name="webHttpUnhandled">
				<webHttp />
				<webHttpBehaviourUnhandled />
				<corsSupport />
			</behavior>
		</endpointBehaviors>
	</behaviors>
	<services>
		<service name="sonovatetest.Store" behaviorConfiguration="store">
			<endpoint address="http://localhost:8080/api/store" binding="webHttpBinding" contract="sonovatetest.IStore" behaviorConfiguration="webHttpUnhandled" />
		</service>
		<service name="SwaggerWcf.SwaggerWcfEndpoint" behaviorConfiguration="swagger">
			<endpoint address="http://localhost:8080/docs" binding="webHttpBinding" contract="SwaggerWcf.ISwaggerWcfEndpoint" behaviorConfiguration="webHttp" />
		</service>
	</services>
</configuration>