<nav class="navbar navbar-toggleable-sm navbar-light bg-faded hidden-print">
  <button class="navbar-toggler navbar-toggler-right"
          type="button"
          (click)="isNavbarExpanded = !isNavbarExpanded"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand"
     href="#">
    Sonovate Technical Project
  </a>

  <div [ngbCollapse]="!isNavbarExpanded"
       class="collapse navbar-collapse"
       id="navbarSupportedContent">

    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link"
         (click)="isNavbarExpanded = false"
         routerLink="/clients"
         routerLinkActive="active">
        Clients
      </a>
      <a class="nav-item nav-link"
         (click)="isNavbarExpanded = false"
         routerLink="/candidates"
         routerLinkActive="active">
        Candidates
      </a>
      <a class="nav-item nav-link"
         (click)="isNavbarExpanded = false"
         routerLink="/placements"
         routerLinkActive="active">
        Placements
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <!-- Add a bit of space between the navbar and the content -->
    <div class="col-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-12">
      <div *ngFor="let alert of alerts; let idx = index">
        <ngb-alert type="warning"
                   (close)="closeAlert (idx)">
          {{alert}}
        </ngb-alert>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
