<div class="row">
  <div class="col-12">
    <h2>
      CANDIDATES
    </h2>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li *ngFor="let candidate of candidates | async"
          class="list-group-item list-group-item-action justify-content-between"
          [class.active]="isSelected (candidate)"
          (click)="onSelect (candidate)">
        {{candidate.name}}
        <!-- The button click handler prevents propagation to prevent
             the clicks falling through to the list-group itself
           -->
        <button class="btn btn-sm btn-secondary"
                aria-label="Delete candidate"
                (click)="onDelete (candidate); $event.stopPropagation ()">
          <i class="fa fa-trash"></i>
        </button>
      </li>
    </ul>
  </div>
</div>

<!-- Add a spacer -->
<div class="row">
  <div class="col-12">
    &nbsp;
  </div>
</div>

<div class="row">
  <div class="col-12">
    <button type="button"
            class="btn btn-primary"
            (click)="add ()">
      Add Candidate
    </button>
  </div>
</div>
